<ul class="list-group shadow-sm">
  {% for category in categories_list %}
    <a href={% url "filter-category" category.slug %} class="text-decoration-none">
    {% if category.slug == selected_category %}
      <li class="list-group-item d-flex justify-content-between align-items-center bg-light border-light text-dark">   
    {% else %}
      <li class="list-group-item d-flex justify-content-between align-items-center border-light">
    {% endif %}
        {{category.name}}
        <span class="badge text-dark">
          {{category.length}}
        </span>
      </li>
    </a>
  {% endfor %}
</ul>