{% extends "base.html" %}
{% load static %}

{% block title %}
  Home Page
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href={% static "blog/css/style.css" %} />
{% endblock  %}

{% block content %}
 <div class="container">
  <div class="row mt-4">
    <h1 class="display-1 text-center mt-4 mb-4">Home Page</h1>

    <div class="col-12">
      {% if blogs|length < 1 %}
        <div class="h3 text-danger ms-4 text-decoration-underline">
          No Blog!
        </div>
      {% else %}
        {% for blog in blogs %}
          {% include "blog/partials/_blog.html" %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
 </div>
{% endblock  %}